@charset "utf-8";

/* 모바일 코딩 필수 공통영역 */

* {margin:0;padding:0;-webkit-text-size-adjust:none;} 
body {color:#666;font-size:14px;font-family:'나눔고딕', NanumGothic, ng, sans-serif;}
   img, fieldset { border:0 }
   ul, ol, li, dl { list-style:none; }
   h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal; }
   a { color:inherit; }
   a, a:link {
    color:#333;
    text-decoration:none; }
   a:visited { color:#333; }
   a:hover, a:active {
    color:#333;
    text-decoration:none; }
   em, i, address {
    font-style:normal;
    font-weight:normal; }
   legend, caption {
    display:none;
    clear:both; }
   input, textarea, select, button, table {
    font-size:inherit;
    font-family:inherit;
    line-height:inherit; }
   section, nav, article, aside, hgroup, header, footer { display:block }
   textarea, input {
    background:url(none);
    -webkit-border-radius:1px;
    -webkit-apprearance:none; }
   textarea { resize:none; }
   label { cursor:pointer; }
   .hidden{display: none;}
   html, body, #wrap, .hidden{max-width: 100%; overflow-x: hidden;}
   /*#skipNav*/
   #skipNav{position:relative;width:100%;overflow:hidden}
   #skipNav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; text-align:center; text-decoration:none; color:#333; font-size:14px}
   #skipNav a:hover,#skipNav a:focus,#skipNav a:active{display:block;height:auto;padding:10px 0; background:#f2f2f2}

   
/* layout */
#wrap{width: 100%;}
#header{position: relative;width: 100%;height: 80px;}
#footer{width: 100%;height: 450px;background-color: #eee;}


/* header */
#header .header_inner{width: 100%;}
#header .header_inner .header_box{width: 100%; overflow: hidden;}
#header #logo{position: absolute;}
#header #logo>a{display: block; width: 40%;margin: 0 auto;}
#header #logo>a>img{display: block; width: 100%;}

#header .header_box .menu_icon{}
#header .header_box .menu_icon>a{float: right; width: 40px;height: 40px;padding: 20px; text-indent: -9999px;
    background-image: url(../imgs/menu_icon.png);background-repeat: no-repeat;background-position: center;}

/* #gnb*/
#header .menu_bg{position: fixed;left: 0;top: 0;width: 100%; background: #f0f0f0;opacity: 0.3;z-index: 88;}
#header #gnb{position: absolute;left: -100%;top: 0;width: 70%; background-color:#f0f0f0;z-index: 90; }
#header #gnb span.close_btn{display: block;position: absolute;top: 5px;right:0; width: 19%;}  
/* #header #gnb span.close_btn>a{display: block;width: 32px;height: 32px;padding:5px; text-indent: -99999px;background-image: url(../images/x-mark.png);background-repeat: no-repeat; background-position: center; } */

/* #gnb 로그인박스 */
#header #gnb>.login_box{width: 90%;margin: 0 auto;}
#header #gnb>.login_box>span.login_txt{display: block;}
#header #gnb>.login_box>span.login_txt>a{display: block;width: 100%;font-size: 6.0vw;font-weight: 400; color: #eb0000;text-decoration: underline;margin: 50px 0 10px 10px;}
#header #gnb>.login_box>p{margin-left: 10px;font-size: 3vw;}

#header #gnb ul.main_menu{ margin-top: 30px;}
#header #gnb ul.main_menu>li{}
#header #gnb ul.main_menu>li>a.depth{display: block;width: 100%;height: 50px;line-height: 50px; font-size: 6.0vw;color: #191919;text-indent: 10%;}

/* #footer 영역 */
#footer .footer_inner{width: 100%;margin: 0 auto;}
#footer .footer_inner address{}
#footer .footer_inner address pre{font-size: 3vw;color: #929292;text-align: center;line-height: 2em;padding-top: 20px;}
#footer .footer_inner p{font-size: 3vw;font-weight: bold; text-align: center;line-height: 20px;margin: 0 auto;color:#929292;margin-top: 40px;}